__pycache__
*.pyc
*.pyo
uploads/
screenshots/
resource_log.txt
.git
.gitignore
.config
node_modules
aplo-dashboard/node_modules
aplo-dashboard/dist
*.md
*.pdf
.dockerignore
Dockerfile.backend
Dockerfile.frontend
docker-compose.yml
